/* 1 col: responsive design small devices */
@media (max-width: 768px)
{
	.col-sm-1 { width: 100%!important; }
	.col-sm-2 { width:45%!important; }
	.content-col-2 { display:block!important; }
	footer ul { margin:5px!important; padding:5px!important; }
	#heading { position:relative!important; height:auto!important;}
	header li { text-align:center; padding-top:30px; border-top:1px solid white; }
	header { height:500px!important; }
	.center-vertical { position:relative!important;transform:none!important;top:initial!important; }
}
@media (max-width: 1024px) and (min-width:768px)
{
	header ul li { margin-right:50px!important; }
}

/* header styles */
#heading { position:absolute; display:table; width:100%; height:400px; }
#heading h1 { vertical-align: middle; display: table-cell; text-align:center; }
header
{
    background-image:url('img/header.jpg');
    background-repeat: no-repeat;
	background-size: cover; 
	background-position: center;
    color:white;
	width: 100%;
	height: 400px;  	
}
header ul li { margin-top: 30px; }
header ul li { margin-right:100px; }
header a { color:white; text-decoration:none; }
h1
{
	margin:0;
	padding:35px;
}

/* body styles */
body
{
    font-size:13px;
	margin:0; /* avoid user agent */    
}

h2 { margin:0px; }

img { width:100%; height:100%; }

.content-col-2
{
	display:flex; height:400px;
}
#img-yellow
{
	background-image:url('img/yellow.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width:100%;
    height:100%;
	opacity:0.8;
}

div.wrap-img {
    width:50%;
    height:400px;    
}
.wrapper{ position:relative; }
.center-vertical
{
	position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
#text-info
{
	width:50%;
}
#text-info h2 { padding:0px 50px; }
#text-info p { padding:0 50px; }

.left { float:left; }
.right{ float:right; }
.clear { clear:left!important; clear:right!important; }

.marginright-100 { margin-right: 100px; }

.marginleft30
{
    margin-left: 30px;
}

.uppercase
{
    text-transform: uppercase;
}

ul
{
    list-style:none;
}
.center { text-align:center; }
.strong{ font-weight:bold; }

/* footer styles */
footer
{
	width:100%;
	background-color:#0b0e21;
	color:white;
}
.footer_container
{
	width:80%;
	margin:0 auto;
}
footer ul { width: 25%; -webkit-padding-start:0px; padding:50px 0; }
footer ul li { padding:2px 0; }
footer a { text-decoration: none; color:white; }